---
import { Icon } from 'astro-icon';
---

<a
  href="/"
  class:list={[
    `relative flex flex-row space-x-3 overflow-hidden`,
    'bg-indigo-600 text-gray-100 dark:bg-indigo-300 dark:text-gray-900',
  ]}
>
  <div
    class="mx-auto flex items-center justify-center divide-white p-3 text-sm font-medium lg:container lg:divide-x lg:px-16 xl:px-20"
  >
    <span class="flex items-center gap-2 px-3">
      Hey, I’m looking for new opportunities!{' '}
    </span>
    <span class="hidden items-center space-x-2 px-3 lg:flex">
      <span>Download Résumé</span>
      <Icon name="fluent:arrow-download-24-filled" class="h-5 w-5" />
    </span>
  </div>
</a>
