---
---

<footer class="layoutContainer sticky top-[100vh] flex flex-col">
  <div class="my-4 w-full">
    <a href="https://github.com/stanAlexandru26" class="text-center opacity-60 hover:opacity-100">
      <p>&copy; {new Date().getFullYear()} Stan Alexandru-Ștefan</p>
    </a>
  </div>
</footer>
