---
import { NAVBAR_LINKS } from '@/assets/data/Navigation';
import NavItem from './NavItem.astro';
import IconButton from '../common/IconButton.astro';
import { CONTACT_LINKS } from '@/assets/data/Contact';
import ToggleTheme from './ToggleTheme.astro';
import ToggleMenu from './ToggleMenu.astro';
import Avatar from '../common/Avatar.astro';

const { isSticky = false } = Astro.props;
---

<header
  class:list={[
    { sticky: isSticky, relative: !isSticky },
    'top-0 z-40 flex-none mx-auto w-full transition-all ease-in duration-100 mb-8',
  ]}
  id="header"
>
  <nav class="layoutContainer flex justify-between p-3">
    <div class="flex gap-4">
      <Avatar />
      <div class="hidden items-center space-x-2 sm:flex" aria-label="Main navigation">
        {NAVBAR_LINKS.filter((contact) => contact.inNavbar).map((link) => <NavItem {...link} />)}
      </div>
    </div>
    <div class="flex items-center gap-2">
      {CONTACT_LINKS.filter((contact) => contact.inNavbar).map((link) => <IconButton {...link} />)}
      <ToggleTheme />
      <div class="block sm:hidden">
        <ToggleMenu />
      </div>
    </div>
  </nav>
  <nav
    id="mininav"
    class="layoutContainer flex justify-evenly p-3 sm:hidden"
    aria-label="Phone navigation"
  >
    {NAVBAR_LINKS.filter((contact) => contact.inNavbar).map((link) => <NavItem {...link} />)}
  </nav>
</header>
