---
import { Icon } from 'astro-icon';
---

<button
  aria-label="Toggle Dark Mode"
  type="button"
  class="flex h-8 w-8 items-center justify-center rounded-lg bg-gray-200 hover:bg-gray-300 dark:bg-gray-800 dark:hover:bg-gray-700"
>
  <Icon name="ph:sun-duotone" class="h-5 w-5" />
</button>
