---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}
export interface Props {
  headings: Heading[];
}
const { headings: rawHeadings } = Astro.props;

const headings = rawHeadings.filter((h) => h.depth === 2);

if (headings.length <= 1) return undefined;
---

<div
  id="toc"
  class="fixed inset-y-[10rem] right-[8rem] hidden max-h-[50vh] max-w-[30rem] overflow-auto overscroll-contain xl:block"
>
  <h1 class="h4">Tabel of content:</h1>
  <div>
    <ul class="mt-2">
      {
        headings.map((heading) => {
          return (
            <li>
              <a class=" text-gray-800 dark:text-gray-400" href={`#${heading.slug}`}>
                {heading.text}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
