---
import ProjectCard from '@/components/project/ProjectCard.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { fetchPosts } from '@/utils/content';

export async function getStaticPaths({ paginate }) {
  const posts = await fetchPosts('project');
  return paginate(posts, { params: { project: 'project' } });
}
const { page } = Astro.props;
---

<BaseLayout>
  <article class="space-y-8">
    <h1>Personal Projects</h1>
    <p>
      Here is a list of projects that I am working/have worked on, to help grow and develop my
      skills as a developer. All of the projects listed here are publicly available on my GitHub
      page, which you can access by clicking on any of the projects below!{' '}
    </p>
    <div class="grid grid-cols-1 gap-4">
      {page.data.map((project) => <ProjectCard {...project} />)}
    </div>
  </article>
</BaseLayout>
